<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div style="text-align: center; color:#3399ff;"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
        <path d="M7.823 2.823l-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
    </svg> <i style="font-size: 40px;"> SevenG </i></div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 25rem; height: 35rem;">
            <div class="card-body">
                <form #addform="ngForm" (ngSubmit)="onSubmit()">
                    <p style="text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> <b> Đăng ký cho tài khoản của bạn </b></p>
                    <br>
                    <div class="mb-3">
                        <input class="form-control" type="text" [(ngModel)]="user.name" name="userName" required #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" placeholder="Tên người dùng ">
                        <div *ngIf="userName.errors && (userName.valid || userName.touched)">
                            <small class="text-danger" *ngIf="userName.errors.required">Tên người dùng không được để trống</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="email" [(ngModel)]="user.email" name="email" required email #email="ngModel" [class.is-invalid]="email.invalid && email.touched" placeholder="Email">
                        <div *ngIf="email.errors && (email.valid || email.touched)">
                            <small class="text-danger" *ngIf="email.errors.required">Email không được để trống</small>
                            <small class="text-danger" *ngIf="email.errors.email">Email Phải đúng định dạng</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" [(ngModel)]="user.password" name="password" required pattern="[\w]+[\w]{5,}" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Mật khẩu">
                        <div *ngIf="password.errors && (password.valid || password.touched)">
                            <small class="text-danger" *ngIf="password.errors.required">Mật khẩu không được để trống</small>
                            <small class="text-danger" *ngIf="password.errors.pattern">Mật khẩu phải hơn 6 ký tự và không được dùng ký tự đặc biệt</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input [(ngModel)]="newPasswordConfirm" class="form-control" type="password" required  #newPassAgain="ngModel" [class.is-invalid]="newPassAgain.invalid && newPassAgain.touched" id="name" name="newPassAgain" placeholder="Nhập lại mật khẩu" />
                        <div *ngIf="newPassAgain.errors && (newPassAgain.valid || newPassAgain.touched)">
                            <small class="text-danger" *ngIf="newPassAgain.errors.required">Mật khẩu mới không được để trống</small>
                        </div>
                        <div *ngIf="newPassAgain.valid && newPassAgain.value != password.value">
                            <small class="text-danger" *ngIf="newPassAgain.valid && newPassAgain.value != password.value">Mật khẩu không khớp </small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" [(ngModel)]="user.phone" name="phone" required pattern="^[0-9]+[0-9]" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" placeholder="Số điện thoại">
                        <div *ngIf="phone.errors && (phone.valid || phone.touched)">
                            <small class="text-danger" *ngIf="phone.errors.required">Số điện thoại không được để trống</small>
                            <small class="text-danger" *ngIf="phone.errors.pattern">Số điện thoại không hợp lệ</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="buttonSign btn btn-success" [disabled]="addform.form.invalid" >Đăng ký tài khoản</button>
                    </div>
                    <hr>
                    <div style="text-align: center;" class="mb-3">
                        <a (click)="gotoLogin()"  class="btn btn-link">Bạn có tài khoản? Đăng nhập</a> <a class="btn btn-link" (click)="gobackHomePage()">Trở về trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>