<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<!-- <form #addform='ngForm' (ngSubmit)="createGroup()"> -->
<!-- <input placeholder="Nhập tên nhóm" type="text" name="name" required #groupp='ngModel' [class.is-invalid]="groupp.invalid && groupp.touched" [(ngModel)]="group"> -->
<!-- <button class="btn btn-success" type="button">Thêm Bảng</button> -->
<!-- </form> -->
<div style="text-align: center;">
    <h2> Thêm bảng mới </h2>
    <div style="text-align: center;" class=" mt-3">
        <form #addform='ngForm' (ngSubmit)="onSubmit(data.group_id)">
            <input placeholder="Thêm tiêu đề bảng" [(ngModel)]="board.name" required #name='ngModel' [class.is-invalid]="name.invalid && name.touched" name="name" type="text" class="form-control" />
            <div *ngIf="name.errors && (name.valid || name.touched)">
                <small class="text-danger" *ngIf="name.errors.required">Tên nhóm không được để trống</small>
            </div>
            <button class="form-control mt-2 btn btn-outline-primary" type="submit" [disabled]="addform.form.invalid">Tạo bảng mới</button>
        </form>
    </div>
</div>