<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
        <a class="navbar-brand"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
              <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
              <path d="M7.823 2.823l-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
          </svg> <i>SevenG</i></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a id="home" (click)="goHome()" class="nav-link"><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-house"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          />
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          />
        </svg></a
      >
    </li>
    <button class="btn" id="noti" mat-button [matMenuTriggerFor]="notifications"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg></button>
    <mat-menu #notifications="matMenu">
        <div class="noti-menu">
          <div *ngFor="let noti of notis" class="noti-box">
            <div class="noti-group">
              <div class="noti-task">
                {{ noti.task }}
              </div>
              <div>
                <div style="float: left;" class="font-weight-bold">{{ noti.group }}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div><div style="float: left;"> {{ noti.board }}</div>
              </div>
            </div>
            <div class="noti-comment">
              <div class="small-image" style="background-image: url({{noti.image}});"></div>
              <div class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ noti.user_name }}</div>
              <div class="comment">
                {{ noti.content }}
              </div>
            </div>
            <hr>
          </div>
        </div>
    </mat-menu>
  </ul>
  <div class="wrap">
    <div class="search" style="border-radius: 5px;">
        <input mat-button [matMenuTriggerFor]="menu" type="text" [(ngModel)]="term" class="search-menu" placeholder="Nhập để tìm kiếm bảng">
    </div>
    <mat-menu #menu="matMenu" class="search-menu">
        <div *ngFor="let item of items | filter:term" style="border: solid 1px black; height: 50px; margin-left: 5px; margin-right: 5px; background-color:white; background-image: url('{{item.background}}');">
            <a href="http://localhost:4200/board/{{item.id}}" style="color:white;">{{ item.name }} </a>
        </div>
    </mat-menu>
</div>
    </div>
    <a class="btn" mat-button [matMenuTriggerFor]="animals"><div
    id="avatar"
    style="background-image: url({{user.image}});"
    title="{{ user.name }} ( {{ user.email }} )"
  ></div></a>
                    <!-- #docregion sub-menu -->
                    <mat-menu #animals="matMenu">
                        <a (click)="getInfo()" mat-menu-item>Hồ sơ cá nhân</a>
                        <a (click)="logOut()" mat-menu-item>Đăng xuất </a>
                    </mat-menu>
    </nav>
</header>