<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<h3><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16">
    <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.117 8.117 0 0 1-3.078.132 3.658 3.658 0 0 1-.563-.135 1.382 1.382 0 0 1-.465-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.393-.197.625-.453.867-.826.094-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.2-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.175-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
  </svg> Mô tả </h3>
<div *ngIf="edit_title === false">
    <b style="font-size: 15px;" (click)="editTitle()">{{ task_title.title }}</b>
</div>
<div *ngIf="edit_title === true">
    <input name="task_title_edit" [(ngModel)]="task_title_edit" type="text" class="form-control" placeholder="{{ task_title.title }}">
    <div class="row mt-2">
        <div class="col-3">
            <button (click)="editTitleConfirm()" class="btn btn-success">Cập nhật</button>
        </div>
        <div class="col-9">
            <button class="btn" (click)="cancleEditTitle()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg></button>
        </div>
    </div>
</div>
<br>
<div style="height:110px;">
  <div style="width: 50%; float: left;">
    NHÃN
    <mat-form-field appearance="fill">
        <mat-label>Chọn màu</mat-label>
        <mat-select [(ngModel)]="task_label_edit" matNativeControl required>
            <mat-option (click)="editTaskLabel()" style="background-color:#e6e600 ;" value="#e6e600">Yellow</mat-option>
            <mat-option (click)="editTaskLabel()" style="background-color: #ff3300;" value="#ff3300">Red</mat-option>
            <mat-option (click)="editTaskLabel()" style="background-color: #2db300;" value="#2db300">Green</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div style="width: 50%; float: right;height: 100px;">
    THÀNH VIÊN
    <br>
    <div *ngFor="let user of users" style="float: left;margin-right: 5px;">
      <a [matMenuTriggerFor]="menu"><div style="border-radius: 50%;background-size: cover;width: 40px;height: 40px;background-image: url({{user.image}});"></div></a>
      <mat-menu #menu="matMenu" style="padding: 5px;">
        <div style="padding: 5px;">
          <div style="float: left;width: 50px;height: 50px;border-radius: 50%;background-size: cover;background-image: url({{user.image}});"></div>
          <div style="float: right;margin-left: 10px;">
            <div class="font-weight-bold">{{ user.name }}</div>
          <div style="margin-top: 5px;">{{ user.email }}</div>
          </div>
          <div style="margin-top: 50px;text-align: center;">
            <button (click)="deleteUser(user.id)" mat-button color="primary">Gỡ bỏ khỏi thẻ</button>
          </div>
        </div>
      </mat-menu>
    </div>
    <button [matMenuTriggerFor]="menu2" style="border-radius: 50%;width: 40px;height: 40px;border: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg></button>
    <mat-menu #menu2="matMenu">
      THÀNH VIÊN
      <hr>
      <button (click)="addUser(user.id)" *ngFor="let user of groupUsers" style="width: 260px;height: 50px;border: 0px;">
        <div style="float: left;width: 40px;height: 40px;border-radius: 50%;background-size: cover;background-image: url({{user.image}});"></div>
        <div class="font-weight-bold" style="float: left;margin-left: 10px;">{{ user.name }}</div>
      </button>
    </mat-menu>
</div>
</div>
<br>
<hr>
<h3> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  </svg> Bình luận</h3>
<div class="row">
    <div class="col-1">
        <div title="{{ user.name }}" class="member-avater" style="width: 35px; text-align: center; background-size: cover; height: 35px; border-radius: 50%; background-image: url({{user.image}});"></div>
    </div>
    <div class="col-11">
        <input placeholder="Viết bình luận.." type="text" class="form-control" [(ngModel)]="comment.comment">
        <button style="float: right;" (click)="commentOnTask(data.task_id)" class="btn btn-success mt-2">Bình luận</button>
    </div>
</div>

<hr>

<!-- <button (click)="getUserComment(data.task_id)" (click)="showComment()" class="btn btn-success">Xem bình luận</button> -->
<div class="mt-2" *ngFor="let comment of user_comment">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="member-avater" style="width: 35px; text-align: center; background-size: cover; height: 35px; border-radius: 50%; background-image: url({{comment.image}});"></div>
            </div>
            <div class="col-11">
                <div class="float-start">
                    <b> &nbsp;&nbsp; {{ comment.name}}</b>
                    <div>
                        <p class="mt-1 ml-2" style="display: inline-block;padding: 10px 10px;border: 0px; border-radius: 10px;background-color: whitesmoke;"> {{ comment.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
